<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559645657515-vlae2fm1ipkon2f2qqpjufpemmh4v2iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559645657515-vlae2fm1ipkon2f2qqpjufpemmh4v2iv</string>
	<key>API_KEY</key>
	<string>AIzaSyB05v1G9wBOr_NejycMicRQqQ0_aX1C50U</string>
	<key>GCM_SENDER_ID</key>
	<string>559645657515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.simonmostroem.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-79bfa</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-79bfa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559645657515:ios:09fa3b27bf6c87d25feaee</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-79bfa.firebaseio.com</string>
</dict>
</plist>